<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>模板选择</title>
	<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="../css/common/frame/icon.css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/lib/bootbox.js"></script>
	<script type="text/javascript" src="../js/commTools.js"></script>
	<script type="text/javascript" src="template.js"></script>
</head>
<body >
	<div id="templateContainer" class="container">
		
	</div>
</body>

</html>
